/*CAJAS DE AVISO*/
.aviso
	background-color #fefccb
	border 1px solid #e5db55
	color #878314
	background-image url('../images/box-warning.jpg')
.info
	background-color #dbecff
	border 1px solid #9fc7f5
	color #2850c1
	background-image url('../images/box-info.jpg')
.error
	background-color #ffd2d3
	border 1px solid #df8f90
	color #871414
	background-image url('../images/box-error.jpg')
.exito
	background-color #d4ffcd
	border 1px solid #9adf8f
	color #319021
	background-image url('../images/box-success.jpg')
.box-message
	padding 15px
	width 500px
	margin 15px auto
	border-radius 10px

.exito,
.aviso,
.info,
.error
	background-repeat no-repeat
	padding-left 80px
	background-position 20px center