.contenedor
	widht 800px

.side-left
	img
		margin-right 70px
nav
	height 25px
	ul
		float right
		margin 0
		padding 0

		li
			float left
			margin-left 5px
			a
				font-size 12px
ul#paginacion
	width 390px
	margin 0 auto
	height 30px
	text-align center
	li
		float left
		margin 2px

#submenu
	margin-top 10px
	nav
		width 800px
		ul
			width 800px
			margin 0
			padding 0
			li
				a
					font-size 11px