.contenedor
	widht 800px

.side-left
	img
		margin-right 70px
nav
	height 25px
	ul
		float right
		li
			float left
			margin-left 5px
ul#paginacion
	background-color gray
	width 390px
	margin 0 auto
	height 30px
	text-align center
	li
		float left
		margin 2px