body {
  background-color: #808000 !important;
  background-image: none !important;
}
.contenedor {
  widht: 800px;
}
#user-data {
  background-color: #008000;
}
ul#paginacion {
  background-color: #808080;
  width: 390px;
  margin: 0 auto;
  height: 30px;
  text-align: center;
}
ul#paginacion li {
  float: left;
  margin: 2px;
}
