.contenedor {
  widht: 800px;
}
.side-left img {
  margin-right: 70px;
}
nav {
  height: 25px;
}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  margin-left: 5px;
}
nav ul li a {
  font-size: 12px;
}
ul#paginacion {
  width: 390px;
  margin: 0 auto;
  height: 30px;
  text-align: center;
}
ul#paginacion li {
  float: left;
  margin: 2px;
}
#submenu {
  margin-top: 10px;
}
#submenu nav {
  width: 800px;
}
#submenu nav ul {
  width: 800px;
  margin: 0;
  padding: 0;
}
#submenu nav ul li a {
  font-size: 11px;
}
