extend includes/layout.jade

block content
	.contenedor.white
		#box-title
			h1
				span.icon-orange Reportes de avance

			h2 Reportes de avance
			h3.txt-skyblue-bcp
				span.icon-orange Filtros avanzados

		include includes/formulario.jade