extend includes/layout.jade

block content
	.contenedor.white
		#box-title
			h1
				span.icon-orange Reportes de usuario

			h2 Reportes de usuario
			h3
				span.icon-orange Buscar por usuario

		include includes/reporte-usuario.jade