#content-admin
	section
		form
			fieldset
				.block-title
					h3
						span.icon-orange Subir Plantilla

				.box-message.error
					span Johnny otro día sal temprano para reservar un restaurante selvático

				.stripe
					label Cursos
					select
						each opcion in ['Campus virtual bcp','Prevención de lavado de activos y del financiamiento del terrorismo - marzo 2013','Ley de transparencia - febrero a marzo 2013','Selección por competencias','Gestión de equipos','Gestión de las compensaciones','Gestión laboral','Créditos banca minorista','Operaciones de comercio exterior','Taller de servicio para empresas','Sistema integrado de planificación y administración de negocios (sipan)','Conociendo el área de "servicios para empresas"','Seguro de protección financiera','Credifondo sa saf - enero 2013','Curso de actualización seguro de protección financiera - enero a marzo 2013 ','Encuesta de calidad']
								option= opcion
				
				.stripe
					label Subir Plantilla
					input(type='file')
				
				.stripe
					label Usar plantilla existente
					input(type='checkbox')
				.stripe
					input(type='submit')

	section
		.block-title
					h3
						span.icon-orange Editar Plantilla

		table
			thead
				tr
					th.table-color-1 N°
					th.table-color-1 Curso
					th.table-color-1 Estado
					th.table-color-1 Acción
			tbody
				tr
					td.table-color-2 1
					td.table-color-2 Programa para asesores de ventas y servicios
					td.table-color-2 Activo
					td.table-color-2 
						a(href="#") Editar
				tr
					td.table-color-2 1
					td.table-color-2 Programa para asesores de ventas y servicios
					td.table-color-2 Activo
					td.table-color-2 
						a(href="#") Editar
				tr
					td.table-color-2 1
					td.table-color-2 Programa para promotores de servicios - descentralizado
					td.table-color-2 Activo
					td.table-color-2 
						a(href="#") Editar