.block
	h2.txt-skyblue-bcp
		span.icon-skyblue Cursos Usuario
	table
		thead
			tr
				th.table-color-1 Código
				th.table-color-1 Curso
				th.table-color-1 Nota Final
				th.table-color-1 Actividades
		tbody
			tr
				td.table-color-2 ARO-Junio 2013
				td.table-color-2 Administración del Riesgo Operativo - Junio a Julio 2013
				td.table-color-2 16
				td.table-color-2
					table
						tbody
							tr
								td Curso Virtual
								td Si
							tr
								td Evaluación
								td 18
							tr
								td Encuesta
								td --
						