header.clearfix
	.contenedor
		#side-up.clearfix
			a(href='#')
				img(src='img/logo-bcp.jpg', class="side-right")
		header
			.side-left
				img(src='img/reportes-avanzados.png')
			.side-right
				#user-data(class="side-left")
					p 
						strong ¡Hola!
					p Jenny
					a(href="#", class="strong-txt") Editar Perfil
					
					a(href="#", class="strong-txt") Cerrar Sesión
				#user-pic(class="side-right")
					a(href="#")
						img(src="img/f1.png")