doctype
html
	head
		title Reportes BCP
		meta(charset='UTF-8')
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/font.css')
		link(rel='stylesheet', href='css/estilos.css')

		script(src="js/html5shiv.js")
		<!--[if lt IE 9]>
		link(rel='stylesheet', href='css/ie8.css')
		<![endif]-->

		<!--[if lt IE 8]>
		link(rel='stylesheet', href='css/ie8.css')
		<![endif]-->
	body
		include header.jade
		include menu.jade
		include submenu.jade
		block content
		include footer.jade 