form#reporte
	input(type="text", placeholder="Nombre o Usuario")
	input(type="submit", value="Buscar usuarios")

table
	tbody
		tr
			td Código
			td Jrios
		tr
			td Nombre
			td Jenny
		tr
			td Apellidos
			td Rios
		tr
			td E-mail
			td jrios@pucp.edu.pe
		tr
			td Función
			td --
			