.block
	form#reporte
		input(type="text", placeholder="Nombre o Usuario")
		input(type="submit", value="Buscar usuarios")
		button Esto es un boton

	h2.txt-skyblue-bcp
		span.icon-skyblue Datos de Usuario
	table
		tbody
			tr
				td.table-color-1.ancho-20 Código
				td.table-color-2.ancho-80 Jrios
			tr
				td.table-color-1.ancho-20 Nombre
				td.table-color-2.ancho-80 Jenny
			tr
				td.table-color-1.ancho-20 Apellidos
				td.table-color-2.ancho-80 Rios
			tr
				td.table-color-1.ancho-20 E-mail
				td.table-color-2.ancho-80 jrios@pucp.edu.pe
			tr
				td.table-color-1.ancho-20 Función
				td.table-color-2.ancho-80
					a(href="#") Así será un enlace