#submenu
	.contenedor
		nav
			ul
				li.icon-orange: a.btn-orange(href='#') Reportes de avance
				li.icon-orange: a.btn-orange(href='#') Reportes de usuario
				li.icon-orange: a.btn-orange(href='#') Reportes de exámenes
				li.icon-orange: a.btn-orange(href='#') Reportes de encuestas
				li.icon-orange: a.btn-orange(href='#') Cursos